*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin Native
*.framework
# *.xcframework - Commented out to include in repo for SwiftPM
*.xcframework.zip

# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# Android
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/
release/

# OS-specific
.DS_Store
Thumbs.db

